$maxWidthPage: 1240px;
$transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
   box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
$borderRadius: 5px;
$boxShadowCard: 0 0.25rem 0.5625rem -0.0625rem rgb(0 0 0 / 3%),
   0 0.275rem 1.25rem -0.0625rem rgb(0 0 0 / 5%);
